*/*.txt
*/*.sty
*/*.log
*/*.tex
*/*.Rhistory
*/*.nav
*/*.synctex.gz
*/*.toc
*/*.vrb
*/*.snm
*/*.doc
*/*.sty
*/*.out
*/*.aux

*/cache
*/*cache
*/figure
*/*files

*/*cache

*/data
/data_exercises
/data
data.zip